@{
    string id = "";
    try
    {
        string hoTen = Session["HoTen"].ToString();
        id = Session["id"].ToString();
        if (id != null)
        {
            ViewBag.NguoiDung = "Thông tin người dùng: " + hoTen;
        }
        else
        {
            ViewBag.NguoiDung = "Thông tin người dùng: Chưa đăng nhập ";
        }
    }
    catch
    {

    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/styleAdmin.css" rel="stylesheet" />
</head>
<body style="margin-top:0px;">
    <div id="banner" style="top:0px;position:absolute;">HỆ THỐNG QUẢN LÝ THÚ CƯNG</div>
    <div id="menu" style="margin-top:10px;">
        <div>
            @Html.ActionLink("GIỚI THIỆU", "../GioiThieu/GioiThieu", new { @class = "a" }) &nbsp;|&nbsp;
            @{
                if (String.IsNullOrEmpty(id))
                {
                    @Html.ActionLink("ĐĂNG NHẬP", "../DangNhap/DangNhap", new { @class = "a" })
                }
                else
                {
                    @Html.ActionLink("Hàng Hóa Admin", "../ThuCungs/Index", new { @class = "a" })

                }
            }
            @Html.ActionLink("Thú Cưng", "../ThuCungs/Index2", new { @class = "a" })&nbsp;|&nbsp;
            @Html.ActionLink("Thống kê", "../ThongKe/Index", new { @class = "a" })
            <p align="center" style="margin-left:-59px;">  @ViewBag.NguoiDung</p>
            <hr style="display: block;border-top: 1px solid aqua;  margin: 8px 0;" />
        </div>
        <div>
            <br />
            @{
                if (!String.IsNullOrEmpty(id))
                {
                    <a style="margin:0 0 30px 45% " href="@Url.Action("Logout","DangNhap")" class="btn btn-warning">Logout</a>
                }
            }
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        Copyright &copy; @DateTime.Now.Year
    </div>
</body>
</html>
