@{
    string id = "";
    try
    {
        string hoTen = Session["HoTen"].ToString();
        id = Session["id"].ToString();
        if (id != null)
        {
            ViewBag.NguoiDung = "Thông tin người dùng: " + hoTen;
        }
        else
        {
            ViewBag.NguoiDung = "Thông tin người dùng: Chưa đăng nhập ";
        }
    }
    catch
    {

    }
}
@using System.Web.Mvc.Html;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/styleAdmin.css" rel="stylesheet" />
</head>
<body style="margin-top:0px;">
    <div id="banner" style="top:0px;position:absolute;">HỆ THỐNG QUẢN LÝ THÚ CƯNG</div>
    <div id="menu" style="margin-top:20px;">
        <div>
            @Html.ActionLink("GIỚI THIỆU", "../GioiThieu/GioiThieu", new { @class = "a" }) &nbsp;|&nbsp;
            @{
                if (String.IsNullOrEmpty(id))
                {
                    @Html.ActionLink("ĐĂNG NHẬP", "../DangNhap/DangNhap", new { @class = "a" })
                }
                else
                {
                    @Html.ActionLink("Thú Cưng Admin", "../ThuCungs/Index", new { @class = "a" })
                }
            }
            &nbsp;|&nbsp;
            @Html.ActionLink("Thú Cưng", "../ThuCungs/Index2", new { @class = "a" })&nbsp;|&nbsp;
            @Html.ActionLink("Thống kê", "../ThongKe/Index", new { @class = "a" })  &nbsp;|&nbsp;
            @Html.ActionLink("Giỏ Hàng", "../GioHang/Index") &nbsp;|&nbsp;
            <div style="display: inline-block; position: absolute; right: 0; margin-top:-8px" >
                <a style="pointer-events: none" class="text-info">@ViewBag.NguoiDung</a>
                @{
                    if (!String.IsNullOrEmpty(id))
                    {
                        <a href="@Url.Action("Logout","DangNhap")" class="btn btn-default">Logout</a>
                    }
                }
            </div>
            <hr style="display: block;border-top: 1px solid #0094ff;  margin: 8px 0;" />
        </div>
        <div>
            
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        Copyright &copy; @DateTime.Now.Year
    </div>
</body>
</html>
