@model IEnumerable<ShopTC.Controllers.Cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int sum = 0;
    long tongTien = 0;
}

<style>

    td {
        width: 100px;
    }
</style>

@using (Html.BeginForm("Pay", "GioHang", FormMethod.Get))
{
    <label>ten </label>
    <input type="text" name="name" value="@ViewBag.name" />
    <br />
    <label>dia chi </label>
    <input type="text" name="address" value="@ViewBag.address" />
    <br />
    <label>so dien thoai </label>
    <input type="text" name="phone" value="@ViewBag.phone" />
    <br />
    <label>email  </label>
    <input type="email" name="mail" value="@ViewBag.email" />
    <br />
    <label>ma giam gia </label>
    <input type="email" name="sale" value="" />





@Html.ActionLink("Xóa Tất cả", "RemoveAll", "GioHang")
<table border="1">
    <tr>
        <td>Tên</td>
        <td>Giá</td>
        <td>Hinh</td>
        <td>Số Lượng</td>
        <td>Thanh tien</td>
        <td> Chức Năng </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.name
            </td>
            <td>
                @item.price
            </td>
            <td>
                @item.photo
            </td>
            <td>
                @Html.ActionLink("-", "addQuantity", new { id = item.id, a = "-" })
                @item.quantity
                @Html.ActionLink("+", "addQuantity", new { id = item.id, a = "+" })
            </td>
            <td>
                @{ sum = item.price * item.quantity; tongTien += sum;}
                @sum
            </td>
            <td>
                @Html.ActionLink("X", "removeEach", new { id = item.id })

            </td>

        </tr>

    }

</table>


<h2>Tong tien : @tongTien </h2>

<button type="submit"> Thanh Toan</button>

}